In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Iqaluit,CA,2021-07-18 15:00:38,63.7506,-68.5145,45.70,61,83,8.01
1,1,Atuona,PF,2021-07-18 15:04:35,-9.8000,-139.0333,77.67,73,23,28.01
2,2,Rikitea,PF,2021-07-18 15:04:35,-23.1203,-134.9692,71.02,64,100,28.05
3,3,Thompson,CA,2021-07-18 15:01:47,55.7435,-97.8558,53.80,57,100,7.94
4,4,Poplar Bluff,US,2021-07-18 15:04:36,36.7570,-90.3929,78.53,89,90,11.50

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [21]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4))
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [36]:
filtered_cities_df=city_data_df.loc[(city_data_df['Max Temp']>=min_temp)&(city_data_df['Max Temp']<=max_temp)]
filtered_cities_df=filtered_cities_df.dropna()
filtered_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Atuona,PF,2021-07-18 15:04:35,-9.8000,-139.0333,77.67,73,23,28.01
4,4,Poplar Bluff,US,2021-07-18 15:04:36,36.7570,-90.3929,78.53,89,90,11.50
5,5,Canarana,BR,2021-07-18 15:04:36,-11.6847,-41.7689,87.01,27,0,4.74
7,7,Laje,BR,2021-07-18 15:04:37,-10.1833,-40.9667,84.49,37,1,8.79
8,8,Ahuimanu,US,2021-07-18 15:04:37,21.4447,-157.8378,78.51,72,20,12.66
17,17,Bull Savanna,JM,2021-07-18 15:04:41,17.8868,-77.5902,84.09,63,95,8.23
24,24,Nikolskoye,RU,2021-07-18 15:01:21,59.7035,30.7861,82.29,30,4,6.58
32,32,San Blas,MX,2021-07-18 15:04:45,21.5167,-105.2667,84.09,78,100,1.43
33,33,Itarantim,BR,2021-07-18 15:04:46,-15.6597,-40.0656,87.42,30,0,1.92
37,37,Nacogdoches,US,2021-07-18 15:00:14,31.6002,-94.6335,85.71,82,10,4.05

In [37]:
filtered_cities_df.count()

City_ID       454
City          454
Country       454
Date          454
Lat           454
Lng           454
Max Temp      454
Humidity      454
Cloudiness    454
Wind Speed    454
dtype: int64

In [39]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = filtered_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
1         Atuona      PF     77.67  -9.8000 -139.0333
4   Poplar Bluff      US     78.53  36.7570  -90.3929
5       Canarana      BR     87.01 -11.6847  -41.7689
7           Laje      BR     84.49 -10.1833  -40.9667
8       Ahuimanu      US     78.51  21.4447 -157.8378
17  Bull Savanna      JM     84.09  17.8868  -77.5902
24    Nikolskoye      RU     82.29  59.7035   30.7861
32      San Blas      MX     84.09  21.5167 -105.2667
33     Itarantim      BR     87.42 -15.6597  -40.0656
37   Nacogdoches      US     85.71  31.6002  -94.6335

In [40]:
#Set the parameters to search for a hotel
params={
    "radius":5000,
    "type":"lodging",
    "key":g_key
}

In [43]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print('Hotel not found...skipping.')

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [45]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Atuona,PF,77.67,-9.8000,-139.0333,Villa Enata
4,Poplar Bluff,US,78.53,36.7570,-90.3929,Holiday Inn Poplar Bluff
5,Canarana,BR,87.01,-11.6847,-41.7689,Hotel
7,Laje,BR,84.49,-10.1833,-40.9667,NN Pousada
8,Ahuimanu,US,78.51,21.4447,-157.8378,Paradise Bay Resort
17,Bull Savanna,JM,84.09,17.8868,-77.5902,Big Red's
24,Nikolskoye,RU,82.29,59.7035,30.7861,Tourist House - Sablino
32,San Blas,MX,84.09,21.5167,-105.2667,Hotel Posada del Rey
33,Itarantim,BR,87.42,-15.6597,-40.0656,Pousada Buterfly
37,Nacogdoches,US,85.71,31.6002,-94.6335,The Fredonia Hotel & Convention Center

In [49]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = hotel_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = hotel_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
# Add the heatmap layer.
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [50]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [51]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [52]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))